* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-branco: #FFFFFF;
    --cor-primaria: #B51D44;
    --cor-secundaria: #821B47;
    --cor-terciaria: #B4A9A9;
    --cor-quartenaria: #A6A0A0;
    --cor-texto: #201849;
    --cor-preto: #000000;
    --fonte-primaria: 'Poppins', sans-serif;
}


footer {
    width: 100vw;
    height: 40px;
    flex-shrink: 0;
    background: var(--cor-branco);
    box-shadow: 92px 0px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>span {
    color: var(--cor-preto);
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}